@use "styles/index" as *;

.navbar-component {
  background-color: $blue;
  padding: 18px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  @media screen and (max-width: 767px) {
    padding: 16px;
    position: fixed;
    z-index: 9999;
  }

  .navbar-item {
    color: $white;
    font-size: $text-md;
    font-weight: $font-semibold;
    text-decoration: none;
    position: relative;
    margin-left: 32px;

    &:after {
      content: "";
      border-bottom: solid 4px $orange;
      position: absolute;
      bottom: -28px;
      left: 0;
      width: 100%;
    }
  }

  .navbar-list {
    @media screen and (max-width: 767px) {
      display: none;
    }
  }
}
