@import "../../../styles/_colors.scss";
@import "../../../styles/_fonts.scss";

.home {
  padding: 0 24px;
  background-color: $background-light;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0 48px 0;

    .main-title {
      color: $orange;
      font-weight: $font-bold;
      font-size: $title-lg;
    }

    .sort-button {
      display: flex;
      align-items: center;
      width: 108px;
      justify-content: space-between;
      color: $gray-900;
    }
  }

  .products-list {
    background: $white;
    padding: 48px;

    @media screen and (max-width: 767px) {
      padding: 24px;
    }
  }
}
