@import "../../../styles/_colors.scss";
@import "../../../styles/_fonts.scss";

.home {
  padding: 0 24px;
  background-color: $background-light;

  @media screen and (max-width: 767px) {
    padding: 16px;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0 48px 0;

    .main-title {
      color: $orange;
      font-weight: $font-bold;
      font-size: $title-lg;

      @media screen and (max-width: 767px) {
        font-size: $title-md;
      }
    }

    @media screen and (max-width: 767px) {
      flex-wrap: wrap;
    }
  }

  .sort-button {
    display: flex;
    align-items: center;
    width: 108px;
    justify-content: space-between;
    color: $gray-900;

    &.mobile {
      margin-left: auto;
      margin-top: 48px;
      font-size: $title-sm;
      width: 150px;
    }
  }

  .products-list {
    background: $white;
    padding: 48px;
    border-radius: 4px;

    @media screen and (max-width: 767px) {
      padding: 24px;
      margin-top: 24px;
    }
  }
}
