<div class="product-card">
  <img
    class="image-placeholder"
    [src]="product.imgUrl"
    [alt]="product.name"
    [attr.title]="product.name"
    (error)="onImageError()"
  />

  <div class="content">
    <h3 class="name" title="{{ product.name }}">{{ product.name }}</h3>
    <p class="description" title="{{ product.description }}">
      {{ product.description }}
    </p>
    <span class="price">R$ {{ product.price | number: "1.2-2" }}</span>

    <button
      type="button"
      *ngIf="quantity === 0"
      class="button-add-to-cart"
      (click)="addToCart()"
      [attr.aria-label]="'Add ' + product.name + ' to cart'"
    >
      <span class="icon">+</span>
      Add to cart
    </button>

    <div *ngIf="quantity > 0" class="quantity-control">
      <button
        type="button"
        class="button-control"
        (click)="decrease()"
        [attr.aria-label]="'Decrease quantity of ' + product.name"
      >
        -
      </button>
      <span class="quantity-number" aria-live="polite">{{ quantity }}</span>
      <button
        type="button"
        class="button-control"
        (click)="increase()"
        [attr.aria-label]="'Increase quantity of ' + product.name"
      >
        +
      </button>
    </div>
  </div>
</div>
