@use "styles/index" as *;

.product-card {
  width: 160px;
  background: $white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 48px;

  @media screen and (max-width: 767px) {
    width: 100%;
     //margin-bottom: 48px;
  }
}

.image-placeholder {
  width: 100%;
  height: 140px;
  border-radius: 4px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.name {
  font-size: $text-lg;
  font-weight: $font-semibold;
  color: $black;
  margin-bottom: 0;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.description {
  font-size: $text-xs;
  color: $gray-300;
  font-weight: $font-regular;

  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.price {
  margin-top: 6px;
  font-size: $text-md;
  font-weight: $font-bold;
  color: $orange;
}

/* Add to cart button */
.button-add-to-cart {
  margin-top: 12px;
  background: $orange;
  color: $white;
  border: none;
  border-radius: 6px;
  padding: 8px 12px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: $text-md;
  cursor: pointer;

  .icon {
    font-size: $text-md;
    font-weight: $font-bold;
  }

  &:hover {
    opacity: 0.9;
  }
}

/* Quantity control */
.quantity-control {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: space-between;

  .button-control {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid $background-light;
    font-size: $text-lg;
    color: $orange;
    font-weight: $font-bold;
  }

  .quantity-number {
    font-size: $text-sm;
    font-weight: $font-medium;
    border: solid 1px $background-light;
    padding: 8px 24px;
    border-radius: 4px;
    color: $black;
  }
}
