@use "styles/index" as *;

.alert {
  position: fixed;
  z-index: 999;
  top: 100px;
  right: 24px;
  width: calc(100% - 48px);
  height: 50px;
  padding: 12px;

  .btn-close {
    font-size: $title-md;
    top: -6px;
  }
}
