$blue: #334D65;
$orange: #EE6B2F;
$white: #FFFFFF;
$orange-accent: #FF6B00;
$danger: #FF0000;
$gray-900: #3B3B3B;
$gray-700: #333333;
$shadow-soft: rgba(0, 0, 0, 0.08);
$black: #000000;
$background-light: #F1F1F1;
