$blue: #334D65;
$orange: #EE6B2F;
$white: #FFFFFF;
$orange-accent: #FF6B00;
$danger: #FF0000;
$gray-100: #E0E0E0;
$gray-200: #D5D5D5;
$gray-300: #5E5E5E;
$gray-700: #333333;
$gray-900: #3B3B3B;
$shadow-soft: rgba(0, 0, 0, 0.08);
$box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
$black: #000000;
$background-light: #F1F1F1;
