$font-family-base: 'Inter', sans-serif;

// Font weights
$font-regular: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;

// Font sizes
$text-sm: 0.875rem; // 14px
$text-md: 1rem;     // 16px
$text-lg: 1.125rem; // 18px
$title-sm: 1.25rem; // 20px
$title-md: 1.5rem;  // 24px
$title-lg: 2rem;    // 32px