<form [formGroup]="form" (ngSubmit)="onSubmit()" class="product-form">
  <h2 class="title">Add a new Product</h2>

  <div class="field">
    <label for="name">Name</label>
    <input
      id="name"
      type="text"
      formControlName="name"
      maxlength="30"
      [class.invalid]="
        hasError('name', 'required') || hasError('name', 'maxlength')
      "
    />
    <small class="error" *ngIf="hasError('name', 'required')">
      Name is required
    </small>
  </div>

  <div class="field">
    <label for="description">Description</label>
    <input
      id="description"
      type="text"
      formControlName="description"
      maxlength="100"
      [class.invalid]="
        hasError('description', 'required') ||
        hasError('description', 'maxlength')
      "
    />
    <small class="error" *ngIf="hasError('description', 'required')">
      Description is required
    </small>
  </div>

  <div class="field">
    <label for="price">Price</label>
    <input
      id="price"
      type="number"
      formControlName="price"
      [class.invalid]="
        hasError('price', 'required') || hasError('price', 'min')
      "
    />
    <small class="error" *ngIf="hasError('price', 'required')">
      Price is required
    </small>

    <small class="error" *ngIf="hasError('price', 'min')">
      Price must be greater than 0
    </small>
  </div>

  <div class="field">
    <label for="imgUrl">Img URL</label>
    <input
      id="imgUrl"
      type="text"
      formControlName="imgUrl"
      [class.invalid]="hasError('imgUrl', 'required')"
    />
    <small class="error" *ngIf="hasError('imgUrl', 'required')">
      Image URL is required
    </small>
  </div>

  <div class="actions">
    <button type="button" class="reset" (click)="onReset()" [disabled]="form.untouched">Reset</button>
    <button type="submit" class="button-save" [disabled]="form.invalid">Save</button>
  </div>
</form>
