@use './styles/fonts' as font;
@import "styles/_reset.scss";
@import "styles/_colors.scss";

body {
  font-family: font.$font-family-base;
  font-size: font.$text-md;
  font-weight: font.$font-regular;
}
