@use "styles/index" as *;

.sort-container {
  position: relative;
}

.sort-button {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.sort-options {
  position: absolute;
  top: 32px;
  background: $white;
  border-radius: 4px;
  padding: 12px;
  box-shadow: $box-shadow;
  width: 150px;
  z-index: 999;
  border: 1px solid $gray-100;
  right: 0;

  @media screen and (max-width: 767px) {
    right: auto;
  }
}

.sort-option {
  transition: 0.4s;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
